.scheme_content5 {
	margin: 5px;
}

.scheme_content5 p {
	margin: 5px auto 5px auto;
}

.scheme_content5 .scheme_content5_title {
	font-weight: bold;
}

.scheme_content5 .scheme_content5_media {
	padding-left: 20px;
}

.scheme_content5 .scheme_content5_media a {
	color: #63a4bc;
}
