/* --- menu styles ---
note:
	not all browsers render styles the same way so try out your style sheet
	on different browsers before publishing;
*/

/* level 0 inner */
.m0l0iout {
	font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	margin: 8px 8px 0 8px;
	color: white;
}
.m0l0iover {
	font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	margin: 8px 8px 0 8px;
	color: white;
}

/* level 0 outer */
.m0l0oout {
	text-decoration : none;
	background-color: transparent;
}
.m0l0oover {
	text-decoration:	none;
	background:		url("/www/images/menu_bg.gif") repeat-x #ffc900;
}

/* level 1 inner */
.m0l1iout {
	font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 4px 0 0 17px;
	color: black;
	text-align: left;
}
.m0l1iover {
	font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 4px 0 0 17px;
	color: black;
	font-weight: bold;
	text-align: left;
}

/* level 1 outer */
.m0l1oout {
	text-decoration : none;
	background-color: #ffc900;
	border: 1px solid #ffb400;
	padding: 0;
	text-align: left;
}
.m0l1oover {
	text-decoration : none;
	background-color: #ffb400;
	font-weight: bold;
	border: 1px solid #ffb400;
	padding: 0;
	text-align: left;
}


/* level 0 inner */
.m0l0iout a:hover,
.m0l0iover a:hover,
.m0l0oout a:hover,
.m0l0oover a:hover,
.m0l1iout a:hover,
.m0l1iover a:hover,
.m0l1oout a:hover,
.m0l1oover a:hover {
	text-decoration:	none;
	font-weight:		bold;
}

