table.scheme_content9 td {
	vertical-align:		top;
	padding:			5px;
}

table.scheme_content9 td * {
	color:			white;
}

table.scheme_content9 ul {
	padding:			0 0 0 22px;
	margin:			0;
	line-height:		20px;
}

table.scheme_content9 ul li {
	padding:			0;
}

table.scheme_content9 p {
	padding-left:		10px;
	text-indent:		20px;
}
