table.scheme_boxgrey2 {
	border:			0;
	margin:			0 auto 0 auto;
	padding:			0;
	width:			515px;
}

table.scheme_boxgrey2 tr td.scheme_boxgrey2_td1 {
	width:			100%;
	height:			20px;
	font-family:		Arial, Verdana, sans-serif;
	font-weight:		bold;
	font-size:			14px;
	padding-left:		5px;
	text-align:			left;
	vertical-align:		top;
}

table.scheme_boxgrey2 tr td.scheme_boxgrey2_td2 {
	border:			1px solid #6a6e71;
	background:		url("/templates/schemes/boxgrey1/images/box_grey2.jpg") repeat-x #7d8087;
	width:			100%;
	height:			200px;
	font-size:			10px;
	padding:			0;
	text-align:			left;
	vertical-align:		top;
	color:			white;
}

table.scheme_boxgrey2 tr td.scheme_boxgrey2_td3 {
	background:		#6a6e71;
	height:			5px;
	border-left:		1px solid #6a6e71;
}
