* {
	color:			#FFFFCC;
	font-family:		Verdana, sans-serif;
	font-size:			10px;
	background-color:	black;
}

p, a {
	color:			#FFFFCC;
	text-decoration:	none;
}

table {
	border-collapse:	collapse;
	margin:			auto;
	border:			0;
}

table.galleryTable td {
	text-align:			center;
	vertical-align:		middle;
	border:			1px dotted #CC9900;
	min-width:			200px;
	max-width:		200px;
	width:			200px;
	margin:			0;
	padding:			5px;
}

p.title {
	color:			#CC9900;
	text-align:			center;
	font-size:			14px;
	font-weight:		bold;
}

table td img:hover {
	opacity:			0.6;	
}

table.closeTable {
	margin-top:		15px;
}

table.closeTable td.text {
	padding-left:		5px;
}
