@import "scheme.css";

body,
body * {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	text-decoration: none;
	color: black;
}

body {
	margin: 0 auto 0 auto;
	padding: 0;
	background-color: white;
}

b, strong {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

u {
	text-decoration: underline;
}

img {
	border: 0;
}

form {
	padding: 0;
	margin: 0 auto 0 auto;
}

input.text,
input.password,
select {
	height:			16px;
}

table {
	border:			0;
	border-collapse:	collapse;
	padding:			0;
	margin:			0 auto 0 auto;
}

tr,
tr td {
	border:			0;
	border-collapse:	collapse;
	padding:			0;
	margin:			0;
	text-align:		left;
	vertical-align:		middle;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	padding: 0;
	margin: 0;
	vertical-align: middle; 
}

li {
	line-height: 18px;
	margin-left: 15px;
}
