.scheme_boxmenu label {
	margin-top:		4px;
}

.scheme_boxmenu div {
	width:			100%;
	height:			auto;
	overflow:		hidden;
	border:			1px solid #cccccc;
	background:		white;
	margin:			0 10px 0 0;
}

.scheme_boxmenu div ul {
	width:			100%;
	height:			100%;
	vertical-align:	top;
	text-align:		left;
	padding:		5px 5px 5px 20px;
	margin:			0;
}

.scheme_boxmenu div ul li {
	cursor:			pointer;
}

.scheme_boxmenu div ul li:hover {
	text-decoration:	underline;
}
