table.scheme_admintopbar {
	width:			100%;
	height:			auto;
	margin:			0;
	padding:		0;
}

table.scheme_admintopbar td table {
	width:			100%;
	height:			23px;
	margin:			0;
	padding:		0;
	background:		url("/www/images/admin/bar_yellow_bg.jpg") repeat-x;
}

table.scheme_admintopbar td table td {
	text-align:		left;
	vertical-align:	middle;
	color:			#273d64;
	padding-left:	25px;
}