table.scheme_content8 td {
	vertical-align:		top;
	padding:			3px 5px 0 3px;
}

table.scheme_content8 ul {
	padding:			0 0 0 22px;
	margin:				0;
	line-height:		16px;
}

table.scheme_content8 ul li {
	vertical-align:		top;
	height:				77px;
}
