#menu {
	clear: both;
	margin-bottom: 10px;
	overflow: hidden;
	width: 100%;
	position: relative;
}

#menu .scheme_button {
	float: right;
	margin-left: 10px;
}

#select {
	position: absolute;
	bottom: 0;
}

#select label {
	display: block;
	clear: both;
	font-weight: bold;
}
