table#index td.index_08#action {
	padding-top:	0;
	vertical-align:	top;
}

table.scheme_adminpage3 {
	width:			100%;
	height:			auto;
	margin:			0;
	padding:		0;
}

.scheme_adminpage3 div {
}