#box {
	margin: 0 auto;
	height: auto;
	width: 70%;
}

#box #image {
	float: left;
	width: 15%;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

#box #body {
	float: right;
	width: 83%;
	height: 100%;
	overflow: hidden;
	line-height: 15px;
	text-align: left;
}

#box #text {
	height: 100%;
	line-height: 15px;
	text-align: center;
	padding: 15px 5px;
}

#box #button {
	text-align: center;
}
