#action {
	vertical-align:		top;
}

#action table#sysmsg {
	width:			100%;
	height:			74px;
	margin:			0px 0 5px 0;
	background:		url("/www/images/msg_bg_red.jpg") #FE7C7C repeat-x;
	border:			1px solid #ce6562;
}

#action table#sysmsg td {
	color:			white;
	font-weight:		bold;
	text-align:			center;
	vertical-align:		top;
}

#action table#sysmsg td p,
#action table#sysmsg td p * {
	color:			white;
	font-weight:		bold;
	padding:			0;
	margin:			5px 0 5px 0;
	text-align:			center;
}

#action table#sysmsg td p#sysmsg_p_title {
	margin-left:		25px;
	margin-top:		7px;
	text-align:			left;
}

#action table#sysmsg td p#sysmsg_p_link {
	margin-top:		8px;
	text-align:			right;
	padding-right:		15px;
}

#action table#sysmsg td p span {
	border-bottom:		1px dashed white;
}

#action table#sysmsg td p span:hover {
	border-bottom:		1px solid white;
}

#action table#sysmsg td#sysmsg_icon {
	width:			30px;
	margin:			0;
	padding:			0;
	background:		url("/www/images/msg_bg_icon_red.jpg") no-repeat;
}
