.scheme_boxgreen {
	width: 229px;
	margin: 0;
	border-bottom: 5px solid #bdbc16;
}

.scheme_boxgreen .scheme_boxgreen_header {
	background: url("/www/templates/schemes/boxgreen/images/boxgreen_top.jpg") no-repeat top left;
	height: 18px;
	font-family: Arial, Verdana, sans-serif;
	font-weight: bold;
	font-size: 14px;
	padding-left: 20px;
	text-align: left;
	vertical-align: top;
}

.scheme_boxgreen .scheme_boxgreen_header_dot {
	background: url("/www/images/dot_grey.jpg") no-repeat center left;
}

.scheme_boxgreen .scheme_boxgreen_body {
	background: url("/www/templates/schemes/boxgreen/images/boxgreen_body.png") repeat-x #cacb18;
	padding: 5px;
	text-align: left;
	vertical-align: top;
	color: white;
}

.scheme_boxgreen .scheme_boxgreen_body_dot {
	border: 1px solid #bdbc16;
}

.scheme_boxgreen .scheme_boxgreen_body * {
	color: white;
}
