table.scheme_boxlight4 {
	border:			0;
	margin:			0;
	padding:		0;
	width:			515px;
	height:			auto;
}

table.scheme_boxlight4 {
	margin:			0 auto 0 auto;
}

table.scheme_boxlight4 tr td.scheme_boxlight4_td1 {
	width:			100%;
	height:			20px;
	font-family:	Arial, Verdana, sans-serif;
	font-weight:	bold;
	font-size:		14px;
	padding-left:	5px;
	text-align:		left;
	vertical-align:	top;
}

table.scheme_boxlight4 tr td.scheme_boxlight4_td2  {
	border:			1px solid #eeeeee;
	background-image:	url("/www/images/box_light_bg4.jpg");
	background-repeat:	repeat-x;
	width:			100%;
	height:			auto;
	font-size:		10px;
	padding:		5px;
	text-align:		left;
	vertical-align:	top;
	color:			black;
}
