table.scheme_boxlight1 {
	border:			0;
	margin:			0;
	padding:			0;
	width:			247px;
	height:			172px;
}

table.scheme_boxlight1 {
	margin:			0 auto 0 auto;
}

table.scheme_boxlight1 tr td.scheme_boxlight1_td1 {
	width:			100%;
	height:			20px;
	font-family:		Arial, Verdana, sans-serif;
	font-weight:		bold;
	font-size:			14px;
	padding-left:		5px;
	text-align:			left;
	vertical-align:		top;
}

table.scheme_boxlight1 tr td.scheme_boxlight1_td2  {
	border:			1px solid #eeeeee;
	background-image:	url("/www/images/box_light_bg1.jpg");
	background-repeat:	repeat-x;
	width:			100%;
	height:			172px;
	font-size:			10px;
	padding:			0;
	text-align:			left;
	vertical-align:		top;
	color:			white;
}
