#action #right_layout {
	width:			100%;
}

#action #right_col1 {
	vertical-align:	top;
	width:			30%;
	padding:		0 10px 0 0;
}

#action #right_col2 {
	vertical-align:	top;
	text-align:		right;
	padding:		0 0 0 10px;
}

#action label {
	font-weight:	bold;
}

#action #right_col1 select {
	width:			100%;
	margin-bottom:	10px;
	font-weight:	bold;
}

#action #right_group_block {
	width:			100%;
	height:			100%;
}

#action div.right_list_block_item {
	text-align:		left;
	vertical-align:	top;
	padding:		5px;
	border-bottom:	1px solid #eeeeee;
	cursor:			pointer;
	font-weight:	bold;
}

#action div.right_list_block_item img {
	display:		block;
	float:			left;
	margin-right:	5px;
}

#action div.right_list_block_item div {
	font-weight:	normal;
	font-style:		italic;
	margin-top:		5px;
}

#action div.right_list_block_item_hover {
	background:		#f1f1f1;
}

#action #right_list {
	width:			100%;
}

#action #right_menu {
	margin:			0 0 5px 0;
}

#action #right_container {
	width:			100%;
}
