table.scheme_login {
	border:			0;
	margin:			0 auto 0 auto;
	padding:			0;
	width:			100%;
	height:			100%;
}

table.scheme_login tr td {
	width:			100%;
	height:			100%;
	font-family:		Arial, Verdana, sans-serif;
	font-weight:		bold;
	font-size:			14px;
	text-align:			left;
	vertical-align:		top;
}

table.scheme_login label {
	display:		block;
	font-weight:		bold;
	clear:			both;
}

table.scheme_login input.text,
table.scheme_login input.password {
	border:			1px solid #a8a848;
	margin:			0 auto 3px auto;
	width:			190px;
	padding-left:		5px;
}

table.scheme_login span {
	display:			block;
	margin-top:		7px;
}

table.scheme_login input.image {
	margin:			0px 0px 0px 135px;
}

table.scheme_login input.checkbox {
	margin:			0 5px 0 0;
	padding:		0;
}

table.scheme_login p {
	margin:				0 auto 0 0;
	padding:			0;
	font-size:			10px;
}

table.scheme_login p a {
	font-size:			10px;
	text-decoration:	underline;
}

table.scheme_login p#scheme_login_line1 {
	margin-top:			5px;
}
