table.scheme_content1 tr td.scheme_content1_image {
	width:			1px;
	height:			auto;
	padding:			15px 15px 0 10px;
	text-align:			left;
	vertical-align:		top;
}

table.scheme_content1 tr td.scheme_content1_image img {
	margin:				0;
	padding:			0;
}

table.scheme_content1 tr td.scheme_content1_body {
	height:			1px;
	font-family:		Verdana, sans-serif;
	font-size:			11px;
	padding:			5px 0 0 0;
	text-align:			left;
	vertical-align:		top;
}

table.scheme_content1 tr td ul {
	padding:			0;
	margin:			0 0 0 12px;
	text-align:			left;
	line-height:		21px;
}

table.scheme_content1 tr td ul li {
	padding:			0;
	margin:			0;
	text-align:			left;
}

table.scheme_content1 tr td.scheme_content1_arrows {
	font-family:		Arial, sans-serif;
	width:			1px;
	padding:			5px 5px 0 5px;
	font-size:			8px;
	font-weight:		bold;
	letter-spacing:		0px;
	vertical-align:		top;
}

table.scheme_content1 tr td.scheme_content1_arrows ul {
	list-style-type:		none;
}

table.scheme_content1 tr td.scheme_content1_arrows ul li,
table.scheme_content1 tr td.scheme_content1_arrows a {
	font-family:		Arial, sans-serif;
	font-size:			8px;
	font-weight:		bold;
	letter-spacing:		0px;
}
