table.scheme_boxsilver {
	border:			0;
	margin:			0;
	padding:			0;
	width:			230px;
	height:			auto;
}

table.scheme_boxsilver {
	margin:			0 0 0 auto;
}

table.scheme_boxsilver tr td.scheme_boxsilver_td1 {
	background-image:	url("/www/images/box_silver_1.jpg");
	background-repeat:	no-repeat;
	width:			100%;
	height:			18px;
	font-family:		Arial, Verdana, sans-serif;
	font-weight:		bold;
	font-size:			14px;
	padding-left:		20px;
	text-align:			left;
	vertical-align:		top;
}

table.scheme_boxsilver tr td.scheme_boxsilver_td2  {
	background:		url("/www/images/box_silver_2.jpg") no-repeat #fbfbfb;
	width:			100%;
	height:			auto;
	font-size:			11px;
	padding:			10px 10px 10px 15px;
	text-align:			left;
	vertical-align:		top;
	color:			black;
}
