table.scheme_content2 {
	border:			0;
	margin:			10px auto 10px auto;
	padding:			5px 0 5px 0;
	width:			100%;
	height:			auto;
}

table.scheme_content2 tr td.scheme_content2_image {
	width:			1px;
	text-align:			center;
	vertical-align:		top;
	padding:			0 10px 0 10px;
}

table.scheme_content2 tr td.scheme_content2_image div {
	border:			1px solid #eeeeee;
	padding:			4px;
}

table.scheme_content2 tr td.scheme_content2_title {
	height:			15px;
	font-family:		Arial, Verdana, sans-serif;
	font-weight:		bold;
	font-size:			12px;
	text-align:			left;
	vertical-align:		bottom;
}

table.scheme_content2 tr td.scheme_content2_date {
	width:			auto;
	height:			15px;
	font-family:		Arial, Verdana, sans-serif;
	font-weight:		bold;
	color:			gray;
	font-size:			10px;
	text-align:			right;
	vertical-align:		bottom;
}

table.scheme_content2 tr td.scheme_content2_content  {
	font-family:		Verdana, Arial, sans-serif;
	background:		url("/www/images/box_light_bg4.jpg") repeat-x;
	font-size:			11px;
	line-height:		16px;
	padding:			5px 5px 0 0;
	text-align:			left;
	vertical-align:		top;
	text-indent:		30px;
}

table.scheme_content2 tr td.scheme_content2_link  {
	padding:			5px 30px 0 0;
	text-align:			right;
	vertical-align:		middle;
}

table.scheme_content2 tr td.scheme_content2_menu,
table.scheme_content2 tr td.scheme_content2_menu a {
	width:			auto;
	height:			1px;
	font-family:		Arial, Verdana, sans-serif;
	font-weight:		bold;
	color:			gray;
	font-size:			10px;
	text-align:			left;
	vertical-align:		bottom;
}

table.scheme_content2 tr td.scheme_content2_menu a:hover {
	text-decoration:	underline;
}
